{% extends 'layout.html.twig' %}

{% block title %}WildZoo | Accueil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
    {{ encore_entry_link_tags('animals') }}
{% endblock %}

{% block header %}
    {{ parent() }}
    {% include 'home/_header.html.twig' %}
{% endblock %}

{% block body %}
    <section class="container-fluid animals py-5">
        <h2 class="mt-5 mb-3">Nos activités</h2>
        <div class="row">
        {% for activity in activities %}
            {% include 'activity/_card.html.twig' %}
        {% endfor %}
        </div>
        <div class="row justify-content-center">
            <a class="btn btn-lg btn-outline-primary" href="{{ path('activity_index')}}">Toutes nos activités</a>
        </div>
    </section>

    {% include 'home/_catchline.html.twig' %}

    <section class="container-fluid animals py-5">
        <h2 class="mt-5 mb-3">Nos animaux</h2>
        <div class="row">
        {% for animal in animals %}
            {% include 'animal/_card.html.twig' %}
        {% endfor %}
        </div>
        <div class="row justify-content-center">
            <a class="btn btn-lg btn-outline-primary" href="{{ path('animal_index') }}">Tous nos animaux</a>
        </div>
    </section>
{% endblock %}

{% block footer %}
    {% include 'includes/_footer.html.twig' %}
{% endblock %}
