{% extends 'layout.html.twig' %}

{% block title %}WildZoo | Accueil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block header %}
    {{ parent() }}
    {% include 'home/_header.html.twig' %}
{% endblock %}

{% block body %}
    <section class="container-fluid animals">
        <h2 class="mt-5 mb-3">Nos animaux</h2>
        <div class="row">
        {% for animal in animals %}
            <div class="col-md-4 col-sm-6">
                <figure class="card">
                    <img src="{{ asset(animal.image is defined ? 'build/uploads/images/' ~ animal.image : 'build/images/animal-placeholder.png') }}" class="card-img-top" alt="no-animal-picture">
                    <figcaption class="card-body">
                        <h3>{{ animal.name }}</h3>
                        <a href="{{ path('animal_show', {'id': animal.id}) }}" class="btn btn-outline-secondary">Voir plus</a>
                    </figcaption>
                </figure>
            </div>
        {% endfor %}
        </div>
    </section>

{% endblock %}
