<div class="col-md-4 col-sm-6">
    <a href="{{ path('animal_show', {'id': animal.id}) }}">
        <figure class="card">
{#            <img src="{{ asset(animal.imageName is not empty ? '/uploads/animal/' ~ animal.imageName : 'build/images/animal-placeholder.png') }}" class="card-img-top" alt="no-animal-picture">#}
            <img src="{{ animal.imageName is not empty ? vich_uploader_asset(animal, 'imageFile') : asset('build/images/animal-placeholder.png')}}" alt="{{ animal.name }}" />
            <figcaption class="card-body">
                <h3>{{ animal.name }}</h3>
                <button class="btn btn-outline-secondary">Voir plus</button>
            </figcaption>
        </figure>
    </a>
</div>
