<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="{{ path('home') }}">
        <img src="{{ asset('build/images/logo.png') }}" alt="logo" class="logo"/>
        WildZoo
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav ">
            <a class="nav-item nav-link" href="#">Le parc</a>
            <a class="nav-item nav-link" href="{{ path('animal_index')}}">Les animaux</a>
            <a class="nav-item nav-link" href="{{ path('activity_index')}}">Les activités</a>
            <a class="nav-item nav-link" href="#">Informations pratiques</a>
            <a class="btn btn-primary nav-item nav-link" href="#">Acheter un billet</a>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ app.user.firstname }} {{ app.user.lastname }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="/logout">Deconnexion</a>
                    </div>
                </div>

            {% else %}
                <a class="btn btn-secondary nav-item nav-link" href="/login">Connexion</a>
            {% endif %}
        </div>
    </div>
</nav>
